/* ----------- Fade-in ----------- */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* animation effect when the element becomes visible */
.fade-in.visible {
  opacity: 1;
  transform: translate(0, 0); 
}

/* ----------- Cursor ----------- */
* {
  cursor: none;
}
/* Custom cursor (default) */
.custom-cursor {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: #ea1e1e;
  border: 2px solid #ea1e1e;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease, background-color 0.2s ease, border 0.2s ease;
  z-index: 1000;
  display: flex;
}
/* Custom cursor (hover) */
.custom-cursor.hovering {
  width: 20px;
  height: 20px;
}
/* Custom cursor (click) */
.custom-cursor.click {
  width: 18px;
  height: 18px;
}
/* Custom cursor (color difference) */
.custom-cursor.difference {
  background-color: #333;
  border: 2px solid #333;
  mix-blend-mode: difference;
}
/* Custom cursor (mobile) */
@media (hover: none) and (pointer: coarse) {
  .custom-cursor { display: none; }
}
/* ----------- Selected text ----------- */
::selection {
  background-color: #333;
  color: #fff;
}

/* ----------- General ----------- */
/* Body */
body {
  margin: 0 auto;
  margin-bottom: 4em;
  background: #fff;
  color: #333;
  padding: 2em;
  overflow-x: hidden;
  cursor: none;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
}
/* Font */
.funnel-display-400 {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Text */
h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
}
h2 {
  margin-bottom: 0.5em;
}
p {
  font-size: 1.2em;
}
.small-text {
  text-align: left;
  font-size: 0.8em; 
  color: #999;
}
 /* Divider */
 hr {
  border: none;
  border-top: 1px solid #999;
  margin: 20px 0; 
}
/* Spacer */
.spacer {
  width: 100%;
  height: 2vh; /* Default */
}
.spacer-sm {
  height: 1vh; /* Small */
}
.spacer-md {
  height: 4vh; /* Medium */
}
.spacer-lg {
  height: 5vh; /* Large */
}
/* Hidden */
.hidden {
  display: none;
}
/* HTML scroll */
html {
  scroll-behavior: smooth;
}

/* ----------- Gallery container ----------- */
.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 0px; 
}

/* ----------- Image column ----------- */
.image-stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}
.image-stack-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

/* ----------- Side by side images ----------- */
.side-by-side-image-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
}
.side-by-side-image {
  width: calc(50% - 5px);
  height: auto;
  max-width: 100%;
  margin: 0;
}

/* ----------- Header ----------- */
/* Header container */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  flex-wrap: wrap;
}
/* Header link (default) */
header a {
  text-decoration: none; 
  color: #333; 
}
/* Header text (default) */
header a h1 {
  color: #333;
  font-size: 2rem;
  overflow: hidden;
  white-space: nowrap;
  width: 8ch;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: left;
  display: inline-block; 
  vertical-align: middle;
  box-sizing: border-box;
}
/* Header link (visited) */
header a:link h1, header a:visited h1 {
  color: #333; 
  text-decoration: none; 
}
/* Header text (hover) */
header a:hover h1 {
  border-bottom: 2px solid #333; /* Dark underline */
}

/* ----------- Navigation bar ----------- */
/* Nav button container */
nav {
  display: flex;
  gap: 1.5em;
}
/* Nav button (default) */
nav button,
nav .nav-button {
  position: relative;
  padding: 0.5em 0.5em;
  font-size: 1em;
  border: none;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 2px solid transparent; 
  transition: color 0.3s, border-bottom-color 0.5s ease; 
}
/* Nav button (hover, focus, active) */
nav button:hover,nav .nav-button:hover,
nav button:focus,nav .nav-button:focus,
nav button.active,nav .nav-button.active {
  border-bottom-color: #333; 
  color: #333; 
}
/* Nav button (inactive) */
nav button.inactive,
nav .nav-button.inactive {
  color: #999; 
}

/* ----------- Filter bar ----------- */
/* Filter button container */
.filters {
  display: flex;
  width: 80%;
  position: relative;
  border: 2px solid #333;
  border-radius: 10px;
  box-sizing: border-box;
  justify-content: center;
  margin: 2em auto 1em auto;
  gap: 0.5em;
}
/* Filter button (default) */
.filters button {
  padding: 0.5em 1em;
  font-size: 1em;
  border: 2px solid transparent;
  color: #333;
  background-color: transparent;
  transition: border 0.5s ease, color 0.5s ease;
}
/* Filter button (hover)) */
.filters button:hover {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
/* Filter button (active) */
.filters button.active {
  color: #333;
}
/* Filter button (inactive) */
.filters button.inactive {
  color: #c4c4c4;
}

/* ----------- Buttons ----------- */
.button-link {
  display: inline-block;
  padding: 0.5em 1em;
  width: 100%;
  margin-top: 0.5em;
  box-sizing: border-box;
  font-size: 1em;
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s ease;
}
.button-link:hover {
  text-decoration: line-through;
}
  
/* ----------- Footer ----------- */
.footer {
  width: 100%;
  padding: 1em 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333; 
  text-align: center;
  font-size: 0.2em;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

/* ----------- Artwork detail ----------- */
/* Artwork detail container */
.artwork-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 4em auto;
  max-width: 80%;
}
/* Left content to hold image and video in a vertical stack */
.left-content {
  flex: 3;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
/* Image */
.artwork-image img {
  width: 100%;
  height: auto;
}
/* Paragraph */
.artwork-paragraph {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
}
/* Right section: Project Details */
.project-details {
  flex: 1;
  max-width: 20%;
  box-sizing: border-box;
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-left: 10%;
  gap: 0.1em;
  /* Stick to top */
  position: sticky;
  top: 4em;
  align-self: flex-start;
}
/* Number */
.project-number {
  text-align: left;
  font-size: 0.8em;
  color: #999;
}
/* Title */
.project-title {
  font-size: 1.7em;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Description */
.project-description {
  font-size: 1em;
  line-height: 1.5;
  color: #999;
  width: 100%;
  padding-bottom: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Date */
.project-date {
  font-size: 0.8em;
  text-align: right;
  color: #999;
  margin: 0;
}

/* ----------- Sub-heading ----------- */
.sub-heading {
  font-size: 1em;
  color: #999;
  margin: 0;
}
.sub-heading-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* ----------- Embedded video ----------- */
.embedded-video {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.embedded-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* ------------- Detail grid ------------- */
.detail-grid-container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.detail-grid-container p {
  color: #333;
  padding: 0;
  margin: 0;
  font-size: 1em;
  text-align: left;
}
.detail-grid-container .first-row {
  display: grid;
  grid-template-columns: 0.2fr 0.9fr 2fr;
}
.detail-grid-container .column {
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 5px;
}
.detail-grid-container .content-section {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.detail-grid-container .left-section {
  flex: 0 0 45%; 
  border-right: 2px solid #333; 
}
.detail-grid-container .left-section .row {
  padding: 5px;
  border-bottom: 2px solid #333;
}
.detail-grid-container .left-section .row:last-child {
  border-bottom: none;
}
.detail-grid-container .right-section {
  flex: 1;
  flex-grow: 1;
  padding: 5px;
}

/* -----------  Responsive Design for Tablets -----------  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Filters */
  .filters {
    max-width: 95%;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .filters button {
    font-size: 1em;
    padding: 0.5em 1em;
  }
  /* Filter button (hover)) */
  .filters button:hover {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  }
  /* Header */
  header {
    margin: 2em;
  }
  header a h1 {
    font-size: 1.8rem; 
    width: auto;
    text-align: center;
  }
  /* Navigation */
  nav {
    gap: 1em;
  }
  nav button, nav .nav-button {
    font-size: 1em;
    padding: 0.3em 0.5em;
  }
  /* Text */
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
  /* Artwork detail */
  .artwork-detail-container { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 3em;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
  }
  .artwork-image {
    grid-row: 2;
    width: 100%;
  }
  .left-content {
    display: contents; 
  }
  .project-details {
    grid-row: 1;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 100%;
    padding: 2em;
    margin-bottom: 4em;
  }
  .artwork-paragraph {
    grid-row: 3;
    width: 100%;
    font-size: 1em;
  }
  .project-description {
    font-size: 1em;
  }
  .project-number, .project-title {
    text-align: left;
  }
  .project-date {
    text-align: right;
  }
  /* Subheading */
  .sub-heading-content-container {
    width: 100%;
  }
  /* Embedded video */
  .embedded-video {
    grid-row: 4;
    width: 100%;
  }
  /* Spacer */
  .spacer {
    height: 3vh;
  }
  .spacer-sm {
    height: 1.5vh;
  }
  .spacer-md {
    height: 3vh;
  }
  .spacer-lg {
    height: 5vh;
  }
}

/* ----------- Responsive Design for Phones ----------- */
@media (max-width: 480px) {
  /* Buttons */
  .button-link {
    font-size: 1em;
  }
  /* Filters */
  .filters {
    margin-top: 1em;
  }
  .filters button {
    font-size: 1em;
    padding: 0.6em 0em;
    cursor: none;
  }
  /* Filter button (hover)) */
  .filters button:hover {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  }
  /* Header */
  header {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header a h1 {
    font-size: 1.5rem; 
    margin-top: 1em;
    margin-bottom: 1em;
  }
  /* Navigation */
  header nav {
    justify-content: center;
    gap: 0.5em;
  }
  .nav-button {
    font-size: 1rem; 
  }
  /* Text */
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.3em;
  }
  p {
    font-size: 1em;
  }
  /* Body */
  body {
    padding: 1em;
  }
  /* Spacer */
  .spacer {
    height: 4vh;
  }
  .spacer-sm {
    height: 2vh;
  } 
  .spacer-md {
    height: 4vh;
  }
  .spacer-lg {
    height: 6vh;
  }
  /* Artwork detail */
  .artwork-detail-container {         
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 4em;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    width: 95%;
  }
  .artwork-detail-container h1 {
    font-size: 1em;
  }
  .artwork-detail-container h2 {
    font-size: 1.7em;
  }
  .left-content {
    display: contents; 
  }
  .project-details {
    grid-row: 1;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 1.5em;
  }
  .artwork-image {
    grid-row: 2;
    width: 100%;
    margin-top: 1em;
  }
  .embedded-video {
    grid-row: 4;
    width: 100%;
  }
  .artwork-paragraph {
    grid-row: 3;
    width: 100%;
    font-size: 1em;
  }
  .project-description {
    font-size: 1em;
  }
  .project-number, .project-title {
    text-align: left;
  }
  .project-date {
    text-align: right;
  } 
  /* Subheading */
  .sub-heading-content-container {
    gap: 0.8em;
  }
  .sub-heading {
    font-size: 1em;
  }
  /* Detail Grid */
  .detail-grid-container {
    font-size: 1em;
  }
  /* Side-by-side image */
  .side-by-side-image-container {
    flex-direction: column;
    gap: 3em;
  }
  .side-by-side-image {
    width: 100%;
  }
}