/* ------------- Main grid------------- */
.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.studio-container {
    width: 90%;
    padding-top: 2em;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}
  
.artwork-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: none;
}

.artwork {
    cursor: none;
}

h1 {
    font-size: 1em;
    margin-bottom: 20px;
    color: #333;
}

/* Gallery */
.gallery-container {
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 20vh;
}

.gallery-item {
    width: 100%;
    display: flex;
}

.image-container {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.artwork-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

.gallery-image {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.portrait {
    max-height: 90vh;
}

.landscape {
    height: auto;
}

.image-caption {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    color: #999;
}

/* Image row of one horizontal and one vertical */
.image-row {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    overflow: hidden;
    align-items: center;
}

.image-row-image {
    width: 100%;
    max-width: 45%;
    object-fit: cover;
}

/* Artwork grid (default) */
.artwork {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, color 0.5s ease;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: color 0.5s ease;
}
  
/* Artwork (hover) */
.artwork::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Dark overlay */
    opacity: 1;
    transition: opacity 0.5s ease;
}
  
.artwork:hover::before {
    opacity: 0;
}

.artwork:hover .artwork-content h2,
.artwork:hover .artwork-content p {
    color: transparent;
}

/* Artwork text */
.artwork-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    z-index: 1;
    gap: 5px;
    text-align: center;
}
  
.artwork-content h2 {
    font-size: 1.5em;
    color: #fff;
    margin: 0;
}
  
.artwork-content p {
    font-size: 0.7em;
    color: #fff;
    margin: 0;
}

/* Responsive Design for Tablets */
@media (max-width: 768px) {
    .center-wrapper {
        padding: 2em 0; 
        margin-top: 1em;
    }

    .artwork-grid {
        gap: 1.5em;
    }

    .gallery-container {
        width: 100%;
        margin: 0 auto;
    }

    .gallery-item {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .image-row {
        flex-direction: column;
        gap: 15px;
    }

    .image-row-image {
        max-width: 100%;
    }

    .artwork-content h2 {
        font-size: 1.5em;
    }

    .artwork-content p {
        font-size: 0.6em; 
    }

    .gallery-item {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        width: 100%;
    }

    .image-caption {
        text-align: center; 
        margin-top: 10px; 
    }
}

/* Responsive Design for Phones */
@media (max-width: 480px) {
    .studio-container {
        width: 90%;
    }

    .gallery-container {
        padding: 0;
        width: 100%;
        margin: 0 auto;
    }

    .image-row {
        flex-direction: column;
        gap: 10px;
    }

    .image-row-image {
        max-width: 100%;
    }

    .artwork-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 4em;
    }

    h1 {
        font-size: 1.2em; 
    }

    .artwork-content h2 {
        font-size: 1.4em; 
    }

    .artwork-content p {
        font-size: 0.6em; 
    }

    .gallery-container {
        padding: 0;
        width: 95%;
        margin: 0 auto;
    }

    .gallery {
        gap: 10vh;
    }

    .gallery-item {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        width: 100%;
    }

    .gallery-image {
        width: 100%;
        object-fit: cover;
        height: auto;
    }

    .image-caption {
        text-align: center;
        font-size: 0.9em;
        color: #999;
        margin-top: 10px;
    }
}

